# ------------------------------------------------------------------------------
# Client Website Configuration
# ------------------------------------------------------------------------------
PORT=3003
HOSTNAME=0.0.0.0
API_URL=http://api:3001
SITE_URL=http://localhost:3003
