NODE_ENV=development
PORT=3001
HOST=0.0.0.0
LOG_LEVEL=info

MONGO_PORT=27017
REDIS_PORT=6379

MONGO_URI=mongodb://cms_user:CHANGE_ME@localhost:27017/cms?authSource=admin
MONGO_DB_NAME=cms

REDIS_URL=redis://:CHANGE_ME@localhost:6379
